# for IDE
.idea/
.vscode/

# for redundant files
*~
*.pyc
*.swp
*.tar.gz
*.zip
*.tar


# for data and experiments directories
ckpt/
data/
h36m/
h36m_ft/

# for jupyter notebook
.ipynb_checkpoints/
Would skip repository src/progress

!img/*.png
all.avi
AlphaPose_all.avi
*.pkl
*.mp4
*.avi
*.mp4
Human36m.rar
inference_result_npy/taoyuan_angle1_3D_Original_augmented.json
*.pickle
*.json
